
:root {
    primary-color: #8AC926;
    secondary-color: #1982C4;
    accent-color-1: #FFCA3A;
    accent-color-2: #FF595E;
}

h1 {
    font-family: "Passion One", serif;
    font-weight: 400;
}

body {
    font-family: "Truculenta", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
}